@import "grid.less";

/** --------------------------------------------------------------
 *  Responsive design
 */
img {
    max-width: 100%;
}

@media screen and (max-width: 900px) {

    .sidebar {
    .column(24);
    }

    .main.has-sidebar-left {
        .column(24);
    }

}

@media screen and (max-width: 865px) {

    .site-header {
        .column(24);

        .site-logo-text {
            .column(20);
            font-size: 2.5em;

            & a {
                color: #fff;
            }
        }

        .navbar2 {
            display: none;
        }
    }

}

@media screen and (min-width: 865px) {
    .profile {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .footer-column {
        float: none;
        width: 100%;
    }
}
